<div class="main-container">
  <h1>Twitter Stream Project</h1>
  <hr style="width: 80%;">
  <div class="main-content">
    <div class="main-content__stream-feed">
      <h4>Tweet Stream Feed</h4>
      <h6>(20 most recent tweets from sample stream)</h6>
      <hr>
      <div>
        <mat-card class="main-content__tweet-info" *ngFor="let tweet of mostRecentTweets">
          <mat-card-header style="padding: 0;">
            <mat-card-title class="main-content__tweet-text">{{ tweet.text }}</mat-card-title>
            <mat-card-subtitle class="main-content__tweet-date">{{ tweet.createdAt | date }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <div class="main-content__top10-hashtags">
      <h4>Top 10 hash tags</h4>
      <h6>(Past 7 hours)</h6>
      <hr>
      <div>
        <mat-card class="main-content__hashtag-info" *ngFor="let hashTag of top10HashTags; index as i;">
          <mat-card-header style="padding: 0;">
            <mat-card-title class="main-content__hashtag-text">{{ i + 1 }}. {{ hashTag.hashTag }}</mat-card-title>
            <mat-card-subtitle class="main-content__hashtag-count">Appeared {{ hashTag.hashTagCount }} times in tweets</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <div class="main-content__total-tweets">
      <h4>Total number of tweets</h4>
      <h6>(Since start)</h6>
      <hr>
      <div style="color: #1DA1F2;">{{ totalTweets }}</div>
    </div>
  </div>
</div>